/* author: Chun Wang (cw8df) */
@charset "UTF-8";
body {
  color:#858585;
  font:14px/19px NewsGothicBT-Light, Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust: none;
  min-width:480px;
  padding: 0;
  height:100%;
}
a {
  text-decoration: none;
  color: rgb(185, 15, 15);
}
/* progress bar */
progress[value]{
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  background: #0063a6;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#wrapper{
  margin:0 auto;
  width:100%;
  height:100%;
  min-width:768px;
}
.inner #header{
  background: #F5F5F5;
  margin: -10px -99px;
  margin-bottom: 20px;
}
.inner .logo {
  width: 100px;
  margin-left: 1000px;
}
.inner .mark {
  background: #ffffbf;
}
.inner .info-column-title {
  font-weight: bold;
}
.inner .info-column-property {
  color: rgb(109, 109, 223);
}
.section {
  overflow: hidden;
  padding: 0 97px 50px 80px;
}
.content-block {
  width: 48.8798%;
  float: left;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}
img.trans {

}

